[Unit]
Description=Announce graphite
BindsTo=graphite.1.service

[Service]
ExecStart=/bin/sh -c "while true; do etcdctl set /services/graphite/graphite '{ \"host\": \"%H\", \"port\": 8080, \"version\": \"52c7248a14\" }' --ttl 60;sleep 45;done"
ExecStop=/usr/bin/etcdctl rm /services/graphite/graphite

[X-Fleet]
X-ConditionMachineOf=graphite.1.service
